@charset "UTF-8";
.container.body{
	min-height: 800px;
	margin-top: 20px;
}
.signin-box{
	width: 400px;
	height: 500px;
	text-align: center;
	background-color: #e9ecef;
	margin: 0 auto;
	padding: 50px;
}
.signin-box>h1{
	color: silver;
	margin-bottom: 50px;
}
.signin-input{
	margin-bottom: 20px;
	width: 300px;
}
.page-link>i{
	line-height: 21px;
}
.float-right{
	float: right; 
}
.table-hover{
	color: gray;
	font-weight: normal;
	font-size: 13px;
}
.title-box{
	width: 400px;
	color: black;
	
}
.vn-box{
	width: 40px;
}
.content-box{
	margin-bottom: 20px;
	text-align: center;
	color: black;
	width: 1100px;
	min-height: 500px;
	border-bottom: 1px solid #6c757d;
}
.reg-title{
	box-sizing:border-box;
	border: none;
	color: black;
	float: left;
	border: 1px solid #ced4da;
	margin-bottom: 20px;
}
.reg-text{
	box-sizing: border-box;
	min-height: 300px;
}